body, html {
    font-family: Verdana, Arial, Tahoma, Serif;
    height:100%;
    background-image:url("https://images.pexels.com/photos/3454270/pexels-photo-3454270.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Koppen */
h1,h2,h3,h4,h5,h6 {
    font-family: Verdana, Arial, Tahoma, Serif;
    line-height: 1;
}

/* Header */
#header {
    background-color: #CD5C5C;
}

#hras{
    background-color: #FF6347;
    color: #D8BFD8;
    width: 150px; 
    height: 100px;
}

#herkomst {
    background-image:url("https://images.pexels.com/photos/3454270/pexels-photo-3454270.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    width: 150px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#leeftijd {
    background-color: #FFC0CB;
    color: #4B00B2;
    width: 150px; 
    height: 100px;
}

#vacht {
    background-image: url("img/h3.jpg");
    display: table-cell;
    background-size: 100px;
    color: #4B00B2;
    width: 150px; 
    height: 100px;
}

#collie {
    background-color: #228B22;
    color: #D8BFD8;
    width: 150px; 
    height: 100px;
}

#schot {
    background-image: url("img/h4.jpg");
    display: table-cell;
    background-size: 100px;
    color: #4B00B2;
    width: 150px; 
    height: 100px;
}

#leef {
    background-color: #ffb6c1;
    color: #4B00B2;
    width: 150px; 
    height: 100px;
}

#dvacht {
    background-image: url("img/h5.jpg");
    display: table-cell;
    background-size: 100px;
    color: #4B00B2;
    width: 150px; 
    height: 100px;
}

#border {
    background-color: #556B2F;
    color: #D8BFD8;
    width: 150px; 
    height: 100px;
}

#land {
    background-image: url("img/h6.jpg");
    display: table-cell;
    background-size: 100px;
    color: #4B00B2;
    width: 150px; 
    height: 100px;
}

#tijd {
    background-color: #FF69B4;
    color: #4B00B2;
    width: 150px; 
    height: 100px;
}

#zvacht {
    background-image: url("img/h7.jpg");
    display: table-cell;
    background-size: 100px;
    color: #4B00B2;
    width: 150px; 
    height: 100px;
}

#weimaraner {
    background-color: #008000;
    color: #D8BFD8;
    width: 150px; 
    height: 100px;
}

#lan {
    background-image: url("img/h8.jpg");
    display: table-cell;
    background-size: 100px;
    color: #4B00B2; 
    width: 150px; 
    height: 100px;   
}

#leeftijd1 {
    background-color: #DB7093;
    color: #4B00B2;
    width: 150px; 
    height: 100px;
}

#special {
    background-image: url("img/h2.jpg");
    display: table-cell;
    background-size: 100px;
    color: #4B00B2;
    width: 150px; 
    height: 100px;
}

#spaniel {
    background-color: #006400;
    color: #D8BFD8;
    width: 150px; 
    height: 100px;
}

#land1 {
    background-image: url("img/h1.jpg");
    display: table-cell;
    background-size: 100px;
    color: #4B00B2;
    width: 150px; 
    height: 100px;
}

#leeftijd2 {
    background-color: #FF1493;
    color: #4B00B2;
    width: 150px; 
    height: 100px;
}

#special {
    background-image: url("img/springer.jpg");
    display: table-cell;
    background-size: 100px;
    color: #FF00FF;
    width: 150px; 
    height: 100px;
}

#special1 {
    background-color: #008B8B;
    color: #4B00B2;
    width: 150px; 
    height: 100px;
}